.item
  = link_to "#", class: "item__link" do
    = image_tag "https://placehold.jp/220x290.png", class: "item__image"
    .item__body
      .item__body__name
        カーディガン
      .item__body__price
        ￥1,100
      .item__body__likes
        = fa_icon "heart-o"
        %span
          1