.merchandise-detail {
  .anothers {
    width: 700px;
    margin: 0 auto 40px;

    @media screen and (max-width: 768px) {
      box-sizing: border-box;
      width: 100%;
    }

    .another-merchandise {

      @media screen and (max-width: 768px) {
        box-sizing: border-box;
        width: 92%;
        margin: 0 auto;
      }

      &__head {
        margin: 24px 0 8px;

        
        &__link {
          color: $cyan;
          font-size: 22px;
          font-weight: 700;
          
          @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 1.4;
          }
          
          &:hover {
            text-decoration: underline;
            opacity: .7;
          }
        }
      }
    }
  }
}