.merchandise-detail {
  .anothers {
    width: 700px;
    margin: 0 auto 40px;

    .another-merchandise {
      
      &__head {
        margin: 24px 0 8px;
        
        &__link {
          color: $cyan;
          font-size: 22px;
          font-weight: 700;

          &:hover {
            text-decoration: underline;
            opacity: .7;
          }
        }
      }
    }
  }
}