.merchandise-detail {
  .buy-button-fix {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      box-sizing: border-box;
      background-color: $white;
      width: 100%;
      height: auto;
      padding: 6px 16px;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 999;
      filter: drop-shadow(0 -1px 1px #aaa);

      &__button {
        display: block;
        background-color: $red;
        color: $white;
        font-size: 14px;
        line-height: 56px;
        text-align: center;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        width: 100%;

        &:hover {
          opacity: .7;
          text-decoration: underline;
        }
      }
    }
    &--sold-out {
      display: none;

      @media screen and (max-width: 768px) {
        background-color: #888;
        display: block;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 56px;
        text-align: center;
        font-weight: 600;
        color: $white;
        margin-top: 16px;
      }
    }
  }
}