.merchandise-detail {
  &__main {
    &__content {
      .left-content {
        .item-photos {
          width: 300px;
          background-color: $ultra-light-grey;
          position: relative;

          @media screen and (max-width: 768px) {
            width: 360px;
            margin: 0 auto;
          }
          
          &__carousel {

            &__stage {
              height: 300px;
  
              @media screen and (max-width: 768px) {
                height: 360px;
              }

              &__item {
                height: 300px;
                position: relative;

                @media screen and (max-width: 768px) {
                  height: 360px;
                }

                &__image {
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  margin: auto;
                  max-width: 300px;
                  max-height: 300px;
                  object-fit: contain;
      
                  @media screen and (max-width: 768px) {
                    max-width: 360px;
                    max-height: 360px;
                  }
                }
              }
            }

            &__dots {
              margin: 0;
              width: 300px;
              font-size: 0;
              text-align: left;
              background-color: $ultra-light-grey;
  
              @media screen and (max-width: 768px) {
                width: 360px;
                display: block;
              }

              &__dot {
                position: relative;
                margin: 0;
                overflow: hidden;
                opacity: .4;
                width: 60px;
                height: 60px;
                display: inline-block;
                cursor: default;
                border-radius: 0;

                @media screen and (max-width: 768px) {
                  width: 72px;
                  height: 72px;
                }

                &.active {
                  opacity: 1;
                }
                
                &__inner {
                  overflow: hidden;
                  padding: 0;
                  pointer-events: none;
                  
                  &__image {
                    object-fit: cover;
                    width: 60px;
                    height: 60px;

                    @media screen and (max-width: 768px) {
                      width: 72px;
                      height: 72px;
                    }
                  }
                }
              }
            }
          }

          &__sold-out {
            @include sold-out-box(120px);

            &__text {
              @include sold-out-text(26px, 28px);
            }
          }
        }
      }
    }
  }
}
