.exhibit
  .exhibit__footer
    .exhibit__footer__content
      .exhibit__footer__content__lists
        %li
          %a.policy{href: 'https://www.mercari.com/jp/privacy/'} プライバシーポリシー 
        %li
          %a.agreement{href: 'https://www.mercari.com/jp/tos/'} メルカリ利用規約 
        %li
          %a.notation{href: 'https://www.mercari.com/jp/tokutei/'} 特定商取引に関する表記

      .exhibit__footer__content__logo
        .footer__logo
          = link_to image_tag('logo-gray.svg'), 'https://www.mercari.com/jp/' # ⬅リンクは変更する
      .exhibit__footer__content__copy-right
        .copy-right
          © 2019 Mercari
