#modal
  #modal__container
    .modal__upper
      .modal__upper_bold 確認
      %div 削除すると二度と復活できません。
      %div 削除する代わりに停止することもできます。
      %div 本当に削除しますか？
    .modal__bottom.clearfix
      %button#modal-close-btn キャンセル
      %button#delete-comformation-btn 削除する

