.mypage {
  margin:auto;
  padding: 40px 0;
  width: 1020px;
  height: 100%;
  &:after{
    @include clearfix;
  }
}

@media screen and (max-width: 1068px){
  .mypage {
    margin: auto;
    padding-top: 24px;
    width: 700px;
  }
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}