.mypage {
  &__main {
    &__notify-todo {
      background-color: #ffffff;
      &__notify {
        width: 100%;
        height: auto;
        &__content {
          position: relative;
          border-bottom: solid 1px #eeeeee;
          &:hover {
            background-color: #fafafa;
          }
          a {
            padding: 16px;
            display: block;
            line-height: inherit;
          }
          &__icon {
            height: 48px;
            width: 48px;
            float: left;
          }
          &__body {
            color: #333333;
            margin: 0 40px 0 68px;
            line-height: 21px;
          }
          &__date {
            color: #888888;
            &__clock-icon {
              float: left;
              margin-right: 8px;
            }
          }
          .fa-angle-right {
            position: absolute;
            top: 50%;
            right: 16px;
          }
        }
        &__go-list {
          padding: 16px;
          height: 56px;
          text-align: center;
          line-height: 56px;
          font-size: 14px;
          a {
            color: #333333;
            display: block;
            width: auto;
            height: 100%;
            background-color: #eeeeee;
            &:hover {
              background-color: #fafafa;
            }
          }
        }
      }
    }
    &__tab-content {
      ul {
        min-height: 236px;
      }
    }
  }
}