.mypage {
  .main {
    .user-icon {
      box-sizing: border-box;
      background-image: url(/images/icons/mypage_header.jpg);
      background-size: cover;
      display: flex;
      height: 200px;
      padding: 20px;
      text-align: center;
      vertical-align: middle;
      width: 100%;

      &__link {
        margin: auto;
        display: block;
        width: 100%;

        &:hover {
          opacity: .8;
        }

        &:visited {
          color: #333;
        }
      }

      &__image {
        @include user-icon(160px);
      }

      &__user-name {
        margin-top: 8px;
      }

      &__user-info {
        margin-top: 8px;
      }

      &__user-evaluation {
        display: inline;

        span {
          margin-left: 8px;
        }
      }

      &__user-exhibit {
        display: inline;
        margin-left: 16px;

        span {
          margin-left: 8px;
        }
      }
    }
  }
}
