@import 'font-awesome';

.mypage {
  &__header {
    margin-top: 40px;
    font-size: 16px;
  }
  &__main {
  float: right;
  width: 700px;
    &__user_icon {
      height: 60px;
      width: 60px;
      border-radius: 30px;
    }
  }
}
