@import 'font-awesome';
.bold {
  font-weight: bold;
}

.mypage {
  &__main {
  float: right;
  width: 700px;
    &__user-icon {
      background-color: yellow;
      display: table-cell;
      height: 160px;
      text-align: center;
      padding: 20px;
      vertical-align: middle;
      width: 660px;
      a {
        text-decoration: none;
        display: block;
        width: 100%;
        &:visited {
          color: #333333;
        }
      }
      &__image {
        line-height: 160px;
        height: 60px;
        width: 60px;
        border-radius: 30px;
      }
    }
    &__user-name {
      font-size: 14px;
      margin-top: 8px;
    }
    &__user-info {
      margin-top: 8px;
      font-size: 14px;
    }
    &__user-evaluation {
      display: inline;
      span {
        margin-left: 8px;
      }
    }
    &__user-exhibit {
      display: inline;
      margin-left: 16px;
      span {
        margin-left: 8px;
      }
    }
  }
}
