.sign_up_footer {
  text-align: center;
  margin: 0 auto;

  &__main {

    &__list {
      margin: 40px 7px 40px 7px;
    }

    &__logo {
      
      &__name {
        padding-bottom: 45px;
        font-size: 12px;
      }
    }
  }

  li {
    font-size: 12px;
    margin: 20px 0;
  }

  .link {
    text-decoration: none;
    color: $black;

    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }

  .footer__logo {
    height: 65px;
    width: 80px; 
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .sign_up_footer {

    li {
      display: inline-block;
      margin: 40px 7px;
    }
  }
}