.top  {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: 768px) {
      max-width: 700px;
      padding: 0;
  }
  @media (min-width: 1068px) {
      max-width: 1020px;
  }  

  .wrapper {

    .items {
      padding: 30px 0 60px;
      
      @media (min-width: 768px) {
        padding: 42px 0 100px;
      }

      &__section{

        .section__title {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
        }
        
        .section__box {

          .items__box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px 6px;

            @media (min-width: 768px) {
              grid-template-columns: repeat(5, 1fr);
              gap: 20px 20px;
            }
            
            .item__box {
              visibility: visible;
              transition: all 0.5s ease 0s;
              border: 1px solid transparent;
              &:hover {border-color: $hover_blue;}

              &_link {
                width: 100%;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                vertical-align: top;

                .figure {
                  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
                  width: 100%;
                  align-items: center;
                  display: flex;
                  width: 100%;
                  background-color: $white;
                  box-shadow: 0 2px 4px rgba(0,0,0,.18);
                  flex-direction: column-reverse;
                  margin: 0;
                  overflow: hidden;
                  z-index: 0;
                  
                  &__figcaption {
                    box-sizing: border-box;
                    height: 64px;
                    line-height: 1.4em;
                    padding: 0 12px;
                    white-space: normal;
                    word-break: break-word;
                    align-items: center;
                    display: flex;
                    width: 100%;

                    .figcaption__item-name {
                      display: inline-block;
                      height: 2.8em;
                      overflow: hidden;
                    }
                  }
                    
                  &__image {
                    height: 0;
                    overflow: hidden;
                    padding: 0 0 100%;
                    position: relative;
                    width: 100%;

                    &_price {
                      align-items: center;
                      background: rgba(0,0,0,.4);
                      border-radius: 0 14px 14px 0;
                      bottom: 8px;
                      box-sizing: border-box;
                      color: $white;
                      display: inline-flex;
                      font-size: 17px;
                      height: 32px;
                      height: 28px;
                      letter-spacing: .02em;
                      margin: 0;
                      padding: 0 12px;
                      position: absolute;
                      z-index: 2;
                    }

                    &_photo {
                      bottom: 0;
                      position: absolute;
                      top: 0;
                      height: 100%;
                      object-fit: cover;
                      vertical-align: top;
                      width: 100%;
                      z-index: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

