// 時間がないため仮で作成
.exhibition__change__box {
  position: relative;
  background-color: $white;
  width: 700px;
  margin: 8px auto;
  padding: 1px 0;

  @media screen and (max-width: 768px) {
    box-sizing: border-box;
    width: 100%;
  }


  .exhibition_edit {
    margin: 16px 0 16px 0;
    
    .comment-form__submit {
      background-color: $red;
    }

  }
  .exhibition_word_or {
    font-size: 16px;
    text-align: center;
  }

  .exhibition_stop {
    
  }
  .exhibition_delete {
    margin: 16px 0 16px 0;
  }    
}