@mixin clearfix {
  content: "";
  clear: both;
  display: block;
}

// ユーザープロフィール編集画面作成時に追加(鈴木)
// ここから
@mixin user-icon($line-height) {
  border-radius: 30px;
  height: 60px;
  line-height: $line-height;
  width: 60px;
}

@mixin mypage-content {
  background-color: $white;
  width: 700px;
  float: right;
}

@mixin focus {
  border-color: $cyan;
  outline: 0;
}
// ここまで

//トップページ　〜〜〜　Start　〜〜〜
// //ヘッダー
@mixin top_after_category2 {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
  display: none;
  left: 224px;
  position: absolute;
  top: 0;
  width: 224px;
}
@mixin top_hover_category1_brand {
  a:hover{
    background-color:#e9352d;
    color: $white;
  }
}
@mixin top_hover_after_category2 {
  a:hover {
    background-color:#efefef;
    color: $black ;
  }
}

//今回レビュー対象外
@mixin top_header_list {
  height: 44px;
  position: relative;
  padding: 0 7px;

  @media (min-width: 1068px) {
    padding: 0 14px;
  } 
}

@mixin top_header_list_link {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}

@mixin top_header_list_link_img {
  // max-width: 100%;//実装時に要不要を検証
  height: auto;
  // max-height: 100%;//実装時に要不要を検証
  color: $grey;
  margin-right: 5px;
  width: 19px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
}

@mixin top_header_responsive_upper_right_link {
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
  font-size: 18px;
}

@mixin top_header_responsive_upper_right_link_fa {
  // max-width: 100%;//実装時に要不要を検証
  height: auto;
  // max-height: 100%;//実装時に要不要を検証
  color: $grey;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 32px;
}

//スライダー
@mixin top_slide-banner-owl-nav-btn($background-image) {
  background-image: image_url($background-image) !important;
  cursor: pointer;
  height: 46px;
  width: 31px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-23px);
  transform: translateY(-23px);
}
@mixin top_slide-banner-owl-item-background($background-image) {
  background: image_url($background-image);
  background-size: auto 100%;
  background-position: center;
}

// //アプリダウンロードバナー
@mixin top_app-download_img {
  background: url(https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg) center center / cover;
  background-position: center;    
}
@mixin top_app-download_store {
  height: 0;
  display: inline-block;
  line-height: 68px;
  &:hover {opacity: .6;}
}
@mixin top_app-download_store_img {
  height: 40px;
  width: 144px;
}

// //フッター
@mixin top_footer_section {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

@mixin top_footer_title {
  font-size: 16px;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

@mixin top_footer_content {
  line-height: 1.4em;
  margin: 16px 0 0;
}

@mixin top_footer_link {
  color: $white;
  opacity: .7;
}

@mixin top_footer_privacy-terms_section {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

@mixin top_footer_social-link_img {
  margin: 14px 18px 0 0;
  font-size: 32px;
}
//トップページ　〜〜〜 End  〜〜〜

@mixin social-icon($length, $background-color) {
  background-color: $background-color;
  display: inline-block;
  height: $length;
  text-align: center;
  vertical-align: middle;
  line-height: $length;
  width: $length;
}

@mixin purchase-inner {
  max-width: 320px;
  margin: 0 auto;
}

@mixin sold-out-box($side) {
  &::after {
    display: block;
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $side $side 0 0;
    border-color: $red transparent transparent transparent;
  }
}

@mixin sold-out-text($top, $font-size) {
  position: absolute;
  left: 0;
  top: $top;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: 600;;
  color: $white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: $font-size;
}