%section.slide-banner.owl-carousel
  = link_to "", "https://www.mercari.com/jp/featured/camp/", class: "slide-banner__link slide-banner__link--1"
  = link_to "", "https://jp-news.mercari.com/2019/10/04/free-campaign/", target: :_blank , class: "slide-banner__link slide-banner__link--2"